<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}}</title>
    <meta name="description" content="The online home of Andy Helms.">
    <meta name="author" content="Andy Helms">

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/yfs7iwf.css">
  </head>

  <body>
    <header>Andy Helms</header>
    <main>
      {{content}}
    </main>
  </body>
</html>
